@import "../variables.scss";

footer {
  color: white;
  height: $window_h * 0.3;
  background: $main-color;
  background: -moz-linear-gradient(
    90deg,
    $main-color 0%,
    $accent 33%,
    $main-color 67%,
    $accent 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    $main-color 0%,
    $accent 33%,
    $main-color 67%,
    $accent 100%
  );
  background: linear-gradient(
    90deg,
    $main-color 0%,
    $accent 33%,
    $main-color 67%,
    $accent 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$main-color, endColorstr=$accent, GradientType=1);
  background-size: 400%;

  animation: change 20s ease infinite;
  font-size: $footer_p_big;

  display: flex;
  flex-direction: row;
  gap: $footer_gap_big;
  padding-left: 13%;

  .first,
  .second,
  .third {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;

    & .topics {
      font-size: $footer_p_big + 2px;
      margin-bottom: 4%;
    }
  }

  .third {
    .icons {
      i {
        width: $footer_i_big;
      }
    }
  }

  .each {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7%;

    & i {
      margin-right: 2%;
    }
  }

  .links {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4%;
  }

  i {
    user-select: none;
  }
}

@media screen and (max-width: $screen) {
  footer {
    height: $window_h * 0.2;

    font-size: $footer_p_lil;
    padding-left: 5%;

    gap: $footer_gap_lil;

    .first,
    .second,
    .third {
      margin-top: 1.5%;
      display: flex;
      flex-direction: column;

      & .topics {
        font-size: $footer_p_lil + 2px;
        margin-bottom: 4%;
      }
    }

    .third {
      .icons {
        i {
          width: $footer_icons_lil;
        }
      }

      .material-icons {
        font-size: $footer_icons_lil;
      }
    }

    .each {
      i {
        font-size: $footer_i_lil;
      }
    }
  }
}
