<footer>
    <div class="first">
      <p class="topics">Codemode</p> 
        <div class="each">
          <i class="material-icons">location_on</i>
          <p><a class="links" href="https://go.2gis.com/cm2xk" style="text-decoration: none; ">Будущий Адрес</a></p>
        </div>
        <div class="each">
          <i class="material-icons">phone</i>
          <p>+7(708)178-02-47</p>
        </div>
        <div class="each">
          <i class="material-icons">telegram</i>
          <p><a class="links" href="https://t.me/codemodecpp" style="text-decoration: none;">Телеграм Менеджер</a></p>
        </div>
        <div class="each">
          <i class="material-icons">mail</i>
          <p>codemode@codemode.kz</p>
        </div>
    </div>
  
    <div class="second">
      <p class="topics">Навигация</p>
      <p routerLink="" routerLinkActive="active" class="links">Главное</p>
      <p routerLink="courses" routerLinkActive="active" class="links">Курсы</p>
      <p routerLink="tutors" routerLinkActive="active" class="links">Преподаватели</p>
      <p routerLink="info" routerLinkActive="active" class="links">Отзывы</p> 
      <p routerLink="contacts" routerLinkActive="active" class="links">Контакты</p>
    </div>
  
    <div class="third">
      <p class="topics" >Социальные сети</p>
      <div class="icons">
        <a class="links" href="https://www.instagram.com/codemode.cpp/"><i style="content: url('https://api.iconify.design/mdi/instagram.svg?color=white');" ></i></a> 
        <a class="links" href="https://t.me/codemodecpp"><i class="material-icons" >telegram</i></a> 
        <a class="links" href="https://www.youtube.com/channel/UCsYps0y7JF400L2oeE4rwBA"><i style="content: url('https://api.iconify.design/mdi/youtube.svg?color=white');" ></i></a> 
      </div>
  
      <p class="topics" style="margin-top: 25%;">Лицензия</p>
      <p>(C) Codemode</p>
    </div>
  </footer>