<body class="offer animate blur delay-5">
	<h1>Договор оферты</h1>
	<p>Настоящий договор является официальным предложением (Публичной офертой), адресованным любому физическому лицу, в
		дальнейшем именуемому «Услугополучатель», согласившемуся с условиями настоящей Публичной оферты, путем ее
		полного и
		безоговорочного акцепта. Услугополучатель обязан полностью ознакомиться с настоящим документом до момента
		внесения
		оплаты.
		Ашим Жақсылық Алмасбекұлы, именуемый в дальнейшем «Услугодатель», выражает намерение заключить договор об
		оказании
		платных образовательных услуг с Услугополучателем на условиях настоящей оферты (далее – «Договор»):</p>

	<h3 class="outer">1. Предмет договора</h3>
	<p class="inner">1.1. Услугодатель обязуется провести обучение Услугополучателю по выбранному курсу.</p>
	<p class="inner">1.2. Оплатой Услугополучатель выражает свое полное и безоговорочное принятие условий настоящего
		договора
		(акцепт).</p>

	<h3 class="outer">2. Срок обучения</h3>
	<p class="inner">2.1. Срок обучения составляет 60 академических часов;</p>
	<p class="inner">2.2. Стоимость академического часа зависит от выбранного курса и размещена на страничке каждого
		отдельно взятого курса;</p>
	<p class="inner">2.3. Полный курс обучения производится в 15 календарных недель.</p>

	<h3 class="outer">3. Стоимость обучения и порядок расчетов</h3>
	<p class="inner">3.1. Стоимость полного курса обучения 60 академических часов зависит от выбранного курса;</p>
	<p class="inner">3.2. Оплата обучения производится ежемесячно при посещении первого занятия текущего месяца. Оплата
		производится
		согласно Приложению №1 настоящего договора.</p>

	<h3 class="outer">4. Права и обязанности сторон</h3>
	<p class="inner">4.1. Услугодатель обязуется:</p>
	<p class="inner2">4.1.1. Качественно, надлежащим образом, в установленных объемах и сроках оказать Услугополучателю
		услуги,
		предусмотренные пунктом 2.1 и 2.3 настоящего договора;</p>
	<p class="inner">4.2. Услугодатель имеет право:</p>
	<p class="inner2">4.2.1. Самостоятельно определять формы, методы и способы осуществления образовательного процесса;
	</p>
	<p class="inner2">4.2.2. Изменить место проведения занятий группы, где обучается Услугополучатель, в случае
		возникновения объективной
		необходимости (изменение сроков или условий аренды, ремонт в арендуемых кабинетах и т. д.);</p>
	<p class="inner2">4.2.3. Отказать Услугополучателю в возврате средств при пропуске занятия Услугополучателем;</p>
	<p class="inner2">4.2.4. Отказать Услугополучателю в дальнейшем оказании услуг, при этом разорвав настоящий договор
		в одностороннем
		порядке и совершив возврат средств за не посещенные в текущем календарном месяце занятия;</p>
	<p class="inner2">4.2.5. В случае невыполнения (нарушения) условий настоящего договора Услугополучателем расторгнуть
		его в
		одностороннем порядке.</p>
	<p class="inner">4.3. Услугополучатель обязуется:</p>
	<p class="inner2">4.3.1. Добросовестно относиться к освоению содержания образовательных программ;</p>
	<p class="inner2">4.3.2. Произвести оплату оказываемых по настоящему договору услуг в сроки и в порядке,
		предусмотренные настоящим
		договором;</p>
	<p class="inner2">4.3.3. Уважительно относиться к Услугодателю, а также к другим лицам, присутствующим при оказании
		услуги;</p>
	<p class="inner2">4.3.4. Соблюдать правила техники безопасности, пожарной безопасности в помещениях Услугодателя и
		(или) арендуемых
		Услугодателем, бережно относиться к имуществу Услугодателя.</p>
	<p class="inner">4.4. Услугополучатель имеет право:</p>
	<p class="inner2">4.4.1. Досрочно расторгнуть настоящий договор и потребовать возврат средств за неоказанные услуги,
		при этом уведомив
		о своем намерении Услугодателя за 7 календарных дней до предполагаемой даты расторжения;</p>
	<p class="inner2">4.4.2. Осуществить все иные действия, необходимые для исполнения данного договора, предусмотренные
		законодательством
		и настоящим договором.</p>

	<h3 class="outer">5. Ответственность сторон</h3>
	<p class="inner">5.1. За неисполнение или ненадлежащее исполнение своих обязательств по настоящему договору стороны
		несут
		ответственность в соответствии с законодательством Республики Казахстан;</p>
	<p class="inner">5.2. При нарушении сроков оплаты, предусмотренных пунктом 3.2. настоящего договора, Услугодатель
		вправе расторгнуть
		его в одностороннем порядке;</p>
	<p class="inner">5.3. Услугополучатель несет ответственность перед Услугодателем за причинение вреда имуществу
		Услугодателя в
		соответствии с законодательством Республики Казахстан.</p>

	<h3 class="outer">6. Порядок разрешения споров</h3>
	<p class="inner">6.1. Претензии по качеству оказанных услуг решаются Сторонами в индивидуальном порядке по каждой
		позиции оказанных
		услуг;</p>
	<p class="inner">6.2. Все изменения и дополнения к Договору действительны лишь в том случае, если они составлены в
		письменном виде и
		подписаны обеими сторонами.</p>
	<p class="inner">6.3. Услугополучатель и Услугодатель должны прилагать все усилия к тому, чтобы разрешить в процессе
		переговоров все
		разногласия и споры, возникающие между ними по Договору;</p>
	<p class="inner">6.4. Во всем остальном, не предусмотренном Договором, Стороны руководствуются действующим
		гражданским
		законодательством.</p>

	<h3 class="outer">7. Форс-мажор</h3>
	<p class="inner">7.1. Стороны освобождаются от ответственности за частичное или неполное исполнение обязательств по
		настоящему
		Договору, если оно явилось следствием форс-мажорных обстоятельств (стихийные бедствия, правительственные акты и
		другие причины, неподконтрольные сторонам), создающих невозможность выполнения обязательств по настоящему
		Договору.</p>
	<p class="inner">7.2. В случае действия вышеуказанных обстоятельств и их последствий свыше одного месяца, Стороны
		имеют право
		отказаться от дальнейшего выполнения взятых на себя обязательств и расторгнуть Договор.</p>
	<p class="inner">7.3. За 10 (десять) рабочих дней до расторжения Договора Стороны осуществляют полный расчет по
		взаимным
		обязательствам и производят соответствующие выплаты.</p>

	<h3 class="outer">8. Заключительные положения</h3>
	<p class="inner">8.1. Договор вступает в силу со дня акцепта Услугополучателем данной Публичной оферты и действует
		до полного
		исполнения Сторонами взятых на себя обязательств;</p>
	<p class="inner">8.2. Вносимые изменения (дополнения) оформляются дополнительными соглашениями;</p>
	<p class="inner">8.3. Все споры и разногласия по настоящему договору стороны решают путем переговоров, а при
		недостижении согласия –
		в порядке, установленном законодательством Республики Казахстан.</p>

	<div class="box">
		<h3>Услугодатель</h3>
		<br>
		<h3>Ашим Жақсылық Алмасбекұлы</h3>
		<br>
		<h5>ИИН: 020513550507</h5>
		<br>
		<h5>АО «Kaspi Bank»</h5>
		<h5>БИК: CASPKZKA</h5>
		<h5>ИИК: KZ53722C000038435453</h5>
	</div>
</body>