<body>
    <div class="right animate blur">
        <img src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="email image">
    </div>
    <div class="left animate slide delay-8">
        <p class="title" >Контакты</p>
        <div class="each">
            <i class="material-icons">location_on</i>
            <p><a href="https://go.2gis.com/cm2xk" style="text-decoration: none; ">Будущий Адрес</a></p>
        </div>
        <div class="each">
            <i class="material-icons">phone</i>
            <p>+7(708)178-02-47</p>
        </div>
        <div class="each">
            <i class="material-icons">telegram</i>
            <p><a href="https://t.me/codemodecpp" style="text-decoration: none;">Телеграм Менеджер</a></p>
        </div>
        <div class="each">
            <i class="material-icons">mail</i>
            <p>codemode@codemode.kz</p>
        </div>
       
    </div>
    
</body>
