<body *ngIf="isLogged">
  <div class="card">
    <div class="title" *ngIf="loaded">
      <p class="name animate slide">
        {{ user.last_name }} {{ user.first_name }}
      </p>
      <p class="username animate slide delay-3">
        Логин: <span class="self_username">{{ user.nickname }}</span>
      </p>
    </div>

    <div class="content" *ngIf="loaded">
      <div class="info">
        <p class="starts animate slide delay-6">
          Номер телефона:
          <input
            type="text"
            class="edit animate slide delay-6"
            *ngIf="have"
            [(ngModel)]="user.phone"
          />
          <i class="material-icons-outlined save" (click)="setPhone()">save</i>
        </p>

        <p class="starts animate slide delay-9">
          Почта: <span class="self_email"> {{ user.email }} </span>
        </p>
        <p class="starts animate slide delay-9">
          Баланс:
          <span class="self_email">
            {{ user.balance | currency: "KZT":"symbol-narrow":".0" }}
          </span>
          <i class="material-icons-outlined save" (click)="addCash()"
            >add_card</i
          >
        </p>
        <div class="courses animate slide delay-12">
          <p class="starts courses">Курсы:</p>
          <div *ngFor="let i of output" class="courses">
            <img src="{{ i }}" alt="logo" style="width: 50px" />
          </div>
        </div>
      </div>
      <div class="image animate slide delay-12" *ngIf="loaded">
        <img
          src="https://api.iconify.design/bi/person-badge.svg?color=%23{{
            imageColor
          }}"
          alt=""
        />
        <button class="btn" (click)="updateProfile()">
          <p>Изменить фото</p>
        </button>
      </div>
    </div>

    <div class="control animate slide delay-15" *ngIf="loaded">
      <button class="btn" (click)="toManager()">
        <p>Обратиться к мэнеджеру</p>
      </button>
      <button class="btn" routerLink="/courses">
        <p>Записаться на курс</p>
      </button>
      <button class="btn" (click)="postComment()">
        <p>Оставить отзыв</p>
      </button>
    </div>

    <div class="load" *ngIf="!loaded">
      <span class="loader"></span>
    </div>
  </div>
</body>
