<body>
  <div class="each" *ngIf="loaded">
    <div class="main animate slide">
      <img src="{{ course.url }}" class="logo" />
      <p class="title">Курс: {{ course.title }}</p>
    </div>

    <div class="content animate slide delay-5">
      <p class="desc">
        <i class="material-icons">info</i>{{ course.description }}
      </p>
      <p class="price">
        <i class="material-icons">local_atm</i>Цена:
        {{ course.price | currency: "KZT":"symbol-narrow":".0" }}
      </p>
      <p class="info"><i class="material-icons">timer</i>{{ course.info }}</p>
    </div>

    <div class="control animate slide delay-10">
      <button
        class="btn"
        [routerLink]="isLogged ? [] : ['/authorize']"
        (click)="isLogged && toManager()"
      >
        <p>Пройти к мэнеджеру</p>
      </button>
      <button class="btn" routerLink="tutors"><p>Преподаватели</p></button>
    </div>
  </div>

  <div class="load" *ngIf="!loaded">
    <span class="loader"></span>
  </div>
</body>
